# Making Linear regression model and also doing Data validation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_excel(r'D:\Data_Analysis\Machine Learning\assign\Buy and sales.xlsx')

In [3]:
data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
0             230.1                 37.8                     69.2       22.1
1              44.5                 39.3                     45.1       10.4
2              17.2                 45.9                     69.3        9.3
3             151.5                 41.3                     58.5       18.5
4             180.8                 10.8                     58.4       12.9

In [4]:
data.corr()

,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
TV Ad Budget ($),1.000000,0.054809,0.056648,0.782224
Radio Ad Budget ($),0.054809,1.000000,0.354104,0.576223
Newspaper Ad Budget ($),0.056648,0.354104,1.000000,0.228299
Sales ($),0.782224,0.576223,0.228299,1.000000

In [5]:
data.describe()

,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
count,200.000000,200.000000,200.000000,200.000000
mean,147.042500,23.264000,30.554000,14.022500
std,85.854236,14.846809,21.778621,5.217457
min,0.700000,0.000000,0.300000,1.600000
25%,74.375000,9.975000,12.750000,10.375000
50%,149.750000,22.900000,25.750000,12.900000
75%,218.825000,36.525000,45.100000,17.400000
max,296.400000,49.600000,114.000000,27.000000

In [6]:
## we have more input vatiable so we use multiple linear regression model

In [7]:
y=data[['Sales ($)']]
x=data.drop(columns=['Sales ($)'])

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.85,random_state=432)

In [9]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
model=mlr.fit(x_train,y_train)

In [10]:
y_test['Predict']=model.predict(x_test)

In [11]:
y_test.head()

     Sales ($)    Predict
108        5.3   3.821698
37        14.7  15.594651
97        15.5  15.303897
145       10.3   9.783009
69        22.3  20.939534

In [12]:
r_sq=model.score(x_train,y_train)
r_sq

0.8880156971596789

In [13]:
## for RMSE
y_test['Error']=y_test['Sales ($)']-y_test['Predict']

In [14]:
y_test['sq_error']=y_test['Error']**2

In [15]:
mean_error=y_test['sq_error'].mean()
mean_error

2.7422944027194656

In [16]:
RMSE=mean_error**0.5
print('RMSE value of given model is',RMSE)

RMSE value of given model is 1.6559874403869932

In [17]:
my_value={"TV Ad Budget ($)":[150],"Radio Ad Budget ($)":[50],"Newspaper Ad Budget ($)":[60]}
my_value=pd.DataFrame(my_value)

In [18]:
predic_my_value=model.predict(my_value)

In [19]:
print("it is the sales value",predic_my_value,"when we have given budget")

it is the sales value [[19.10598566]] when we have given budget