# Find the Accuracy difference between Random Forest model and svm model

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
data=pd.read_excel(r'D:\Data_Analysis\Machine Learning\assign\BankMarketing.xlsx')

In [3]:
data.head()

,Age,Job,Marital Status,Account Balance,Own House,Personal Loan,No of campaigns,Subscription
0,59,unemployed,married,0,0,0,0,0
1,36,Others,married,3057,0,0,0,1
2,47,blue-collar,divorced,126,1,0,0,1
3,43,management,divorced,388,1,0,0,1
4,34,self-employed,single,462,0,0,0,1

In [4]:
data.isnull().sum()

Age                0
Job                0
Marital Status     0
Account Balance    0
Own House          0
Personal Loan      0
No of campaigns    0
Subscription       0
dtype: int64

In [5]:
data=pd.get_dummies(data,columns=['Job'])
data=pd.get_dummies(data,columns=['Marital Status'])

In [6]:
data.head()

,Age,Account Balance,Own House,Personal Loan,No of campaigns,Subscription,Job_Others,Job_blue-collar,Job_management,Job_self-employed,Job_unemployed,Marital Status_divorced,Marital Status_married,Marital Status_single
0,59,0,0,0,0,0,0,0,0,0,1,0,1,0
1,36,3057,0,0,0,1,1,0,0,0,0,0,1,0
2,47,126,1,0,0,1,0,1,0,0,0,1,0,0
3,43,388,1,0,0,1,0,0,1,0,0,1,0,0
4,34,462,0,0,0,1,0,0,0,1,0,0,0,1

In [7]:
y=data[['Subscription']]
x=data.drop(columns=['Subscription'])

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.85)

In [9]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=1000,random_state=4321)
rf=model.fit(x_train,y_train)

C:\Users\Maddy\AppData\Local\Temp/ipykernel_10960/49039710.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf=model.fit(x_train,y_train)

In [10]:
y_test['Predicted']=model.predict(x_test)

In [11]:
y_test.head()

      Subscription  Predicted
1805             0          0
3826             0          0
180              1          0
2142             0          0
3406             0          0

In [12]:
from sklearn.metrics import accuracy_score
print('the accuracy of model by random forest',accuracy_score(y_test['Subscription'],y_test['Predicted']))

the accuracy of model by random forest 0.865979381443299

In [13]:
forest_importance=pd.Series(model.feature_importances_,index=x.columns)
forest_importance.sort_values(ascending=False)

Account Balance            0.474751
Age                        0.303608
No of campaigns            0.095638
Own House                  0.028138
Personal Loan              0.017418
Job_Others                 0.013414
Job_management             0.013182
Marital Status_married     0.012520
Job_blue-collar            0.010710
Marital Status_divorced    0.009958
Marital Status_single      0.009524
Job_self-employed          0.006367
Job_unemployed             0.004773
dtype: float64

In [14]:
## the top 4 factors are age, account balance,No of campaigns and Own House 
## After analysing our data and their outcomes it is showing that account balance matter a lot and age also

In [15]:
## let`s make SVM model 
Y=data[['Subscription']]
X=data.drop(columns=['Subscription'])
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.85)

In [16]:
from  sklearn.svm import SVC
model=SVC(random_state=4321)
svc_model=model.fit(X_train,Y_train)

C:\Users\Maddy\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
Y_test['Predicted']=model.predict(X_test)

In [18]:
Y_test.head()

      Subscription  Predicted
891              0          0
856              0          0
4332             0          0
4336             0          0
1346             0          0

In [19]:
print("this is the accuracy score given by SVM",accuracy_score(Y_test['Subscription'],Y_test['Predicted']))
print('the accuracy of model by random forest',accuracy_score(y_test['Subscription'],y_test['Predicted']))

this is the accuracy score given by SVM 0.8880706921944035

In [22]:
## accuracy is different in both the models bcoz in both the models we use different techniques in random forest we made 
## 10000 randomy datasets from our train data to test our data and in SVM we make hyperplane or seperate our data and used 
## Euclidean distance formula.

In [23]:
## for analyse, if our model how much it is efficient we can use accuracy score but if we want much more from it like F-1 score
## precisson, recall than we can use classification report and confussion matrix